body 
{background-image: linear-gradient(to right top, #6bd1bf, #81dcba, #9be6b3, #b7eead, #d5f6a9, #e8f3ae, #f6f1b7, #fff0c3, #ffedd9, #fff0f2, #fff8ff, #ffffff);}



.block1 

{ padding:3px; margin:5px  background-image: linear-gradient(to right, #a0e5f8, #c0e9ff, #ddefff, #f2f6ff, #ffffff); }


t 
{color:purple; }
